#	sec.name	source	community
com2sec	readonly	default	{{ community }}

#			sec.model	sec.name
group	MyROGroup	v2c		readonly

#	incl/excl	subtree
view	all	included	.1.3.6.1
view	sysView	included	system

#			context	model	level	prefix	read 	write	notify
access	MyROGroup	""	any	noauth	exact	all	none	none

syslocation {{ location }}
syscontact {{ contact }}

#OS Distribution Detection
extend distro /usr/bin/distro

#Hardware Detection
# (uncomment for x86 platforms)
#extend manufacturer '/bin/cat /sys/devices/virtual/dmi/id/sys_vendor'
#extend hardware '/bin/cat /sys/devices/virtual/dmi/id/product_name'
#extend serial '/bin/cat /sys/devices/virtual/dmi/id/product_serial'

# (uncomment for ARM platforms)
#extend hardware '/bin/cat /sys/firmware/devicetree/base/model'
#extend serial '/bin/cat /sys/firmware/devicetree/base/serial-number'
